.container-sobre-nosotros {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
    padding: 30px;
    margin: 50px auto;
    margin-top: 0;
    border-radius: 10px;
    border: 1px solid rgb(0, 2, 139);
    background-color: #16213e;
    gap: 20px;
}

.title-sobre-nosotros {
    padding: 20px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0e27;
    border: 1px solid #0b22b8;
    font-size: 30px;
    margin-left: 35px;
    margin-bottom: 0px;
}