:root{
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-color: rgb(255, 242, 242); 
  --text-color-alt: rgb(2, 3, 37);
  --backround-color: rgb(169, 181, 223);
  --background-color-alt: rgb(45, 51, 107);
  --detail-color: rgb(120, 134, 199);
}

* {
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: var(--background-color-alt);
  display: flex;
  top: 0px;
  padding: 15px;
  width: 100%;
}
.navbar > div {
  display: flex;
  align-items: center;
}

.navbar > div > ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100%;
}

body > div {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
